@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

::placeholder{
  font-size: 12px !important;
  font-weight: 600;
}


.after::before {
  content: '';
  width: 0;
  height: 5px;
  position: absolute;
  top: 72px;
  background-color: green;
  z-index: 1;
  margin-left: 15px;
  transition: all 500ms ease-in-out;
}

.after:hover::before{
  width: 8%;
  border-radius: 10px 10px 0 0;
}


@media (device-width:375px) and (device-height:667px){
  .ops {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  .up {
    height: 60vh !important;
  }

  .opps {
    height: 16vh !important;
  }
}